/*
 * General Settings
 * ================
 */
h1 {
    font-size: 30px;
}

h2 {
    font-size: 20px;
    display: inline;
}

.big {
    height: 450px;
}

.mini {
    height: 60px;
}

.mini-last {
    height: 100px;
}

.vertical-center {
    display: flex;
    align-items: center;
}

.row > .desc {
    padding: 0;
}

.desc {
    text-align: right;
}

.inline {
    display: inline;
}

.last-center .desc {
    margin-top: 22px;
}

.last-center .indicator {
    margin-top: 22px;
}

.clickable {
    cursor: pointer;
}

/*
 * Trend Indicator Settings
 * ========================
 */

.indicator {
    padding-left: 0px;
}

.rotate-45-left {
    display: inline-block;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.rotate-45-right {
    display: inline-block;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.high {
    color: #252525
}

.raising {
    color: #636363
}

.stable {
    color: #969696
}

.falling {
    color: #bdbdbd
}

.low {
    color: #d9d9d9
}

/*
 * Overlay Settings
 * ================
 */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../img/transparent50.png') repeat;
    z-index: 10000;
}

.overlay-container {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: 0px 50px 0px 50px;
    padding: 20px 0px 20px 0px;
    background-color: white;
    border-radius: 5px;
}

.overlay-container h2 {
    margin: 0px 0px 10px 20px;
}

.overlay-div {
    margin: 0px 0px 10px 20px;
}

a.close{
    float:right;
    margin-top:-30px;
    margin-right:-12px;
    cursor:pointer;
    color: #FFF;
    border-radius: 30px;
    background: #000;
    font-size: 26px;
    font-weight: bold;
    display: inline-block;
    line-height: 0px;
    padding: 7px 3px 15px 3px;
    opacity: 1;
}

a.close:hover {
    opacity: 1;
    color: #FFF;
}

.close:before {
    content: "×";
}

/*
 * Chart Settings
 * ==============
 */
.circle-container {
    height: 65px;
}

.circle {
    background: #d70206;
    display: flex;
    align-items: center;
    margin: 0 auto;
    float: none;
}

.ct-chart .ct-grid {
    stroke-dasharray: none;
    stroke: #999;
}

.ct-grids line {
    color: #666;
}

.ct-labels span {
    color: #666;
    font-size: .9em;
 }


/*
 * Chartist Legend Settings
 * ========================
 */
.ct-legend {
    position: absolute;
    right: 15px;
    z-index: 10;
    list-style: none;
}

.overlay .ct-legend {
    right: 30px;
    top: -35px;
}

.ct-legend li {
    position: relative;
    padding-left: 23px;
    margin-bottom: 3px;
    cursor: pointer;
}
.ct-legend li:before {
    width: 12px;
    height: 12px;
    position: absolute;
    left: 0;
    content: '';
    border: 3px solid transparent;
    border-radius: 2px;
}
.ct-legend li.inactive:before {
    background: transparent;
}
.ct-legend.ct-legend-inside {
    position: absolute;
    top: 0;
    right: 0;
}
.ct-legend .ct-series-0:before {
    background-color: #d70206;
    border-color: #d70206;
}
.ct-legend .ct-series-1:before {
    background-color: #f05b4f;
    border-color: #f05b4f;
}
.ct-legend .ct-series-2:before {
    background-color: #f4c63d;
    border-color: #f4c63d;
}
.ct-legend .ct-series-3:before {
    background-color: #d17905;
    border-color: #d17905;
}
.ct-legend .ct-series-4:before {
    background-color: #453d3f;
    border-color: #453d3f;
}

/*
 * Chartist Tooltip Settings
 * =========================
 */
.chartist-tooltip {
    position: absolute;
    display: block;
    opacity: 0;
    min-width: 2em;
    padding: .5em;
    background: #000;
    color: #FFF;
    border-radius: 10%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    pointer-events: none;
    z-index: 1070;
}
.chartist-tooltip:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -5px;
    border: 5px solid transparent;
    border-top-color: #000;
}
.chartist-tooltip.tooltip-show {
    opacity: 1;
}