.ct-chart .ct-grid {
    stroke-dasharray: none;
    stroke: #999;
}

.ct-grids line {
    color: #666;
}

.ct-labels span {
    color: #666;
    font-size: .9em;
 }

.mini {
    height: 60px;
}

.mini-last {
    height: 100px;
}

.vertical-center {
    display: flex;
    align-items: center;
}

.last-center .desc {
    margin-top: 22px;
}

.last-center .indicator {
    margin-top: 22px;
}


.indicator {
    padding-left: 0px;
}

.rotate-45-left {
    display: inline-block;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.rotate-45-right {
    display: inline-block;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../img/transparent50.png') repeat;
    z-index: 10000;
    cursor: pointer;
}

.overlay-container {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: 0px 50px 0px 50px;
    padding: 20px 0px 20px 0px;
    background-color: white;
    border-radius: 5px;
}

.overlay-container h2 {
    margin: 0px 0px 10px 20px;
}

.overlay-div {
    margin: 0px 0px 10px 20px;
}

.high {
    color: #252525
}

.raising {
    color: #636363
}

.stable {
    color: #969696
}

.falling {
    color: #bdbdbd
}

.low {
    color: #d9d9d9
}

.clickable {
    cursor: pointer;
}