h1 {
    font-size: 30px;
}

h2 {
    font-size: 20px;
}

.ct-chart .ct-grid {
    stroke-dasharray: none;
    stroke: #999;
}

.ct-grids line {
    color: #666;
}

.ct-labels span {
    color: #666;
    font-size: .9em;
 }

.big {
    height: 450px;
}

.mini {
    height: 60px;
}

.mini-last {
    height: 100px;
}

.vertical-center {
    display: flex;
    align-items: center;
}

.last-center .desc {
    margin-top: 22px;
}

.last-center .indicator {
    margin-top: 22px;
}


.indicator {
    padding-left: 0px;
}

.rotate-45-left {
    display: inline-block;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.rotate-45-right {
    display: inline-block;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../img/transparent50.png') repeat;
    z-index: 10000;
    cursor: pointer;
}

.overlay-container {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: 0px 50px 0px 50px;
    padding: 20px 0px 20px 0px;
    background-color: white;
    border-radius: 5px;
}

.overlay-container h2 {
    margin: 0px 0px 10px 20px;
}

.overlay-div {
    margin: 0px 0px 10px 20px;
}

.high {
    color: #252525
}

.raising {
    color: #636363
}

.stable {
    color: #969696
}

.falling {
    color: #bdbdbd
}

.low {
    color: #d9d9d9
}

.clickable {
    cursor: pointer;
}


/** Legend Plugin */
.ct-legend {
    position: absolute;
    right: 0;
    z-index: 10;
    list-style: none;
}

.overlay .ct-legend {
    right: 30px;
    top: -40px;
}

.ct-legend li {
    position: relative;
    padding-left: 23px;
    margin-bottom: 3px;
    cursor: pointer;
}
.ct-legend li:before {
    width: 12px;
    height: 12px;
    position: absolute;
    left: 0;
    content: '';
    border: 3px solid transparent;
    border-radius: 2px;
}
.ct-legend li.inactive:before {
    background: transparent;
}
.ct-legend.ct-legend-inside {
    position: absolute;
    top: 0;
    right: 0;
}
.ct-legend .ct-series-0:before {
    background-color: #d70206;
    border-color: #d70206;
}
.ct-legend .ct-series-1:before {
    background-color: #f05b4f;
    border-color: #f05b4f;
}
.ct-legend .ct-series-2:before {
    background-color: #f4c63d;
    border-color: #f4c63d;
}
.ct-legend .ct-series-3:before {
    background-color: #d17905;
    border-color: #d17905;
}
.ct-legend .ct-series-4:before {
    background-color: #453d3f;
    border-color: #453d3f;
}